/* Estilos generales */
body {
    background: url('FONDOC.png') center center / cover no-repeat fixed;
    color: #174957;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Título principal */
.info h1 {
    animation: fadeIn 2s ease-in-out;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.8px;
    margin: 0;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Encabezado y logo */
header {
    align-items: center;
    background: linear-gradient(135deg, #174957, #13bca4);
    border-bottom: 4px solid #95dad5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.logo img {
    background: rgba(19, 188, 164, 0.6);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(19, 188, 164, 0.6);
    height: 110px;
    margin-left: 50px;
    transition: transform 0.3s ease-in-out;
}

    .logo img:hover {
        transform: rotate(5deg) scale(1.1);
    }

/* Menu de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 25px;
    }

        nav ul li a {
            background: none;
            border-radius: 8px;
            color: #f3f5f5;
            font-size: 18px;
            font-weight: bold;
            padding: 12px 13px;
            text-decoration: none;
            transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
        }

            nav ul li a:hover {
                background: #d8efee;
                color: #174957;
                transform: translateY(-3px);
            }


/* Información de contacto */
.info-contacto {
    background: #f3f5f5;
    border: 4px solid #13bca4;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    color: #174957;
    font-size: 17px;
    margin: 40px auto;
    max-width: 800px;
    padding: 60px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.25);
}

ul {
    list-style: none;
}

.a, .redes_ {
    color: #13bca4;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .a:hover, .redes_:hover {
        color: #95dad5;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }

/* Sección de ubicación y mapa */
.ubicacion {
    background: #f3f5f5;
    border: 4px solid #13bca4;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    color: #174957;
    font-size: 18px;
    margin: 40px auto;
    max-width: 850px;
    padding: 40px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.mapa {
    zoom: 160%;
}

/* Preguntas frecuentes */
.preguntas {
    background: #f3f5f5;
    border: 4px solid #13bca4;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    color: #174957;
    font-size: 20px;
    margin: 40px auto;
    max-width: 800px;
    padding: 60px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.25);
}

/*Preguntas frecuentes */

details {
    background: radial-gradient(ellipse at center, #4ecab5 0%, #3c5c66 100%);
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    details:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    }

summary {
    background: radial-gradient(ellipse at center, #4ecab5 0%, #3c5c66 100%);
    border-radius: 6px;
    color: #e0f1f0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

    summary:hover {
        opacity: 0.5;
    }

.pregunta {
    color: #e0f1f0;
    padding: 9px;
    text-align: justify;
}

/* Redes sociales */
.redes {
    background: #f3f5f5;
    border: 4px solid #13bca4;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    color: #174957;
    font-size: 17px;
    margin: 20px auto;
    max-width: 750px;
    padding: 82px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Icono de enlace a Whatsapp*/
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 130px;
    height: 90px;
}

    .whatsapp img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
    }

        .whatsapp img:hover {
            transform: scale(1.1);
        }


/* Pie de página */
footer {
    background: linear-gradient(135deg, #174957, #13bca4);
    border-top: 4px solid #95dad5;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
}

    footer a {
        color: #b4b2b5;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

        footer a:hover {
            color: #d4ccd4;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
        }
